<form action="/PieChart/Index" method="post">
    <input type="text" class="form-control" name="Label" />
    <input type="text" class="form-control" name="Series" />
    <button type="submit" class="btn btn-success">Send</button>
</form>