<form action="/Chart/Create" method="post">
    <div class="mb-3">
        <label class="form-label">Key</label>
        <input type="text" class="form-control" name="Label">
    </div>
    <div class="mb-3">
        <label class="form-label">Value</label>
        <input type="text" class="form-control" name="Series">
    </div>
    <button type="submit" class="btn btn-success">Success</button>
</form>