@model BlogModel
<form action="/Blog/Update/@Model.BlogId" method="post">
    <div class="mb-3">
        <label class="form-label">Email address</label>
        <input type="text" class="form-control" id="BlogTitle" name="BlogTitle" value="@Model.BlogTitle">
    </div>
    <div class="mb-3">
        <label class="form-label">Email address</label>
        <input type="text" class="form-control" id="BlogAuthor" name="BlogAuthor" value="@Model.BlogAuthor">
    </div>
    <div class="mb-3">
        <label class="form-label">Email address</label>
        <input type="text" class="form-control" id="BlogContent" name="BlogContent" value="@Model.BlogContent">
    </div>

    <a href="/Blog" class="btn btn-dark">Back</a>
    <button type="submit" class="btn btn-success">Update</button>
</form>