@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form action="/Home/Index" method="post">
    <input type="text" class="form-control" name="Data" />
    <button type="submit" class="btn btn-success">Send</button>
</form>