@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<input type="text" class="form-control" id="txtData" />

@section scripts{

    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script>
        var connection = new signalR.HubConnectionBuilder().withUrl("/notificationHub").build();

        connection.on("ClientReceiveEvent", function (data) {
            $('#txtData').val(data);
        });

        connection.start().then(function () {
        }).catch(function (err) {
            return console.error(err.toString());
        });
    </script>
}